<button class="btn btn-primary m-2" type="button" data-toggle="modal" data-target="newEvent">
  Új esemény létrehozás
</button>
<mat-tab-group>
  <mat-tab label="{{ event.name }}" *ngFor="let event of Events">
    <div class="border rounded m-2 p-2">
      <h6>
        Esemény: <strong>{{ event.name }}</strong>
      </h6>
      <h6>
        Létrehozója: <strong>{{ event.creater }}</strong>
      </h6>
      <h6>
        Főnökök: <strong> {{ event.bosses }}</strong>
      </h6>
      <h6>
        Nézők: <strong>{{ event.visitors }}</strong>
      </h6>
    </div>
    <div class="border rounded m-2 p-2">
      <h6>Nézők</h6>
      <div class="row col-12">
        <button
          class="btn btn-outline-success visitor-button m-2"
          (click)="incrementVisitors(event.eventId, event.visitors)"
        >
          +
        </button>
        <button
          class="btn btn-outline-danger visitor-button m-2"
          (click)="decrementVisitors(event.eventId, event.visitors)"
        >
          -
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="newEventLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5></h5>
      </div>
    </div>
  </div>
</div>
