<div class="m-1 p-1 ">
  <div class="rounded border m-1 p-1 header">
    <h2 class="text-center">Chat</h2>
  </div>
  <div class="rounded border m-1 p-1 body">
    <app-chat-message
      id="{{ message.id }}"
      *ngFor="let message of chatMessages"
      [chatMessage]="message"
    ></app-chat-message>
  </div>
  <div class="rounded border m-1 p-1 footer">
    <div class="row col-12">
      <div class="col-9 p-1">
        <textarea type="text" name="text" placeholder="Üzenet..." class="form-control" [(ngModel)]="text"></textarea>
      </div>
      <div class="col-3 p-1">
        <button class="btn btn-primary btn-block" (click)="sendMessage()">Küldés</button>
      </div>
    </div>
  </div>
</div>
