<h1 mat-dialog-title>Új esemény felvétele</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="Event.name" name="name" placeholder="Esemény neve" [type]="'text'" [formControl]="name" required />
    <mat-error *ngIf="name.invalid">Kötelező a mező kitöltése</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary m-2" (click)="onNoClick()">Mégsem</button>
  <button class="btn btn-primary m-2" [mat-dialog-close]="Event" cdkFocusInitial [disabled]="name.invalid">
    Mentés
  </button>
</div>
