<div>
  <h1 class="text-center">Gólyatábor</h1>
  <div class="border rounded m-1 p-1">
    <select name="gts" class="form-control" [(ngModel)]="selectedGt" (change)="changeGt()">
      <option value="{{ i }}" *ngFor="let gt of gts; let i = index">{{ gt.year }}</option>
    </select>
    <button class="btn btn-outline-danger float-right m-1">Reset</button>
    <button class="btn btn-outline-warning float-right m-1">Generálás</button>
    <button class="btn btn-outline-info float-right m-1" (click)="modifyGt()">Módosítás</button>
    <button class="btn btn-outline-primary float-right m-1" (click)="newGt()">Új gólyatábor</button>
    <div class="col-12 p-1 border rounded mt-5" *ngIf="gt">
      <div class="form-group col-12">
        <label>Év: </label>
        <span *ngIf="!gtIsOnModify"> {{ gt.year }}</span>
        <input
          type="number"
          [(ngModel)]="modifiedGt.year"
          name="modifyYear"
          class="form-control"
          *ngIf="gtIsOnModify"
        />
      </div>
      <div class="form-group col-12">
        <label>Napok száma: </label>
        <span *ngIf="!gtIsOnModify"> {{ gt.days }}</span>
        <input
          type="number"
          [(ngModel)]="modifiedGt.days"
          name="modifyDays"
          class="form-control"
          *ngIf="gtIsOnModify"
        />
      </div>
      <div class="alert alert-danger m-1" *ngIf="modifyAlert"><strong>HIBA!</strong> {{ modifyAlert }}</div>
      <button class="btn btn-outline-success m-1" (click)="saveModify()" *ngIf="gtIsOnModify">Mentés</button>
      <button class="btn btn-outline-info m-1" (click)="gtIsOnModify = false; modifyAlert = ''" *ngIf="gtIsOnModify">
        Vissza
      </button>
    </div>
    <div class="row col-12 p-1" *ngIf="gt">
      <div class="border rounded col-6 p-1">
        <h6>Posztok</h6>
        <div class="form-group border rounded m-1 p-1">
          <input
            [(ngModel)]="newWork"
            type="text"
            name="newWork"
            class="form-control mb-1"
            placeholder="Új poszt felvétele"
          />
          <button class="btn btn-outline-secondary" (click)="saveWork(newWork)">Poszt felvétele</button>
          <div class="alert alert-danger mt-1" *ngIf="workAlert"><strong>HIBA!</strong> {{ workAlert }}</div>
          <div>
            <div *ngFor="let work of gt.works">{{ work.name }}</div>
          </div>
        </div>
      </div>
      <div class="border rounded col-6 p-1">
        Humánok
      </div>
    </div>
  </div>
</div>
