<button class="btn btn-primary m-2" (click)="newGenerator()">
  Új generálás
</button>
<mat-tab-group>
  <mat-tab label="{{ event.name }}" *ngFor="let event of EventsWithGenerator">
    <div class="p-2">
      <button class="btn btn-outline-warning float-right m-1" (click)="generate(event)">Generálás</button>
      <h6>Esemény kezdete: {{ event.generator.start | hours }}</h6>
      <h6>Esemény vége: {{ event.generator.end | hours }}</h6>
      <h6>Esemény nap száma: {{ event.generator.days }}</h6>
      <h6>Esemény hossza: {{ event.generator.length | hours }}</h6>
      <div class="alert alert-warning" *ngIf="!event.generator.ready">
        A generátor eredménye nem napra kész! Kérjük futassa újra a folyamatot!
      </div>
      <div class="alert alert-danger" *ngIf="alert"><strong>HIBA!</strong> {{ alert }}</div>
      <div class="alert alert-success" *ngIf="success">{{ success }}</div>
      <div class="row col-12 border rounded">
        <div class="col-6 p-2">
          <div class="border rounded p-2">
            <button class="btn btn-outline-primary float-right" (click)="newWork(event.generator)">+ Új poszt</button>
            <h6 class="mb-3"><strong class="mb-4">Posztok</strong></h6>
            <div *ngFor="let work of event.generator.works">
              <button class="btn btn-outline-danger float-right" (click)="deleteWork(event.generator, work.name)">
                Törlés
              </button>
              <h6 class="my-4">{{ work.name }}</h6>
            </div>
          </div>
        </div>
        <div class="col-6 p-2">
          <div class="border rounded p-2">
            <button class="btn btn-outline-primary float-right" (click)="newWorker(event.generator)">+ Új humán</button>
            <h6 class="mb-4"><strong class="mb-4">Humánok</strong></h6>
            <div *ngFor="let worker of event.generator.workers">
              <mat-expansion-panel class="m-1">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ worker.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button class="btn btn-outline-danger float-right" (click)="deleteWorker(event.generator, worker.name)">
                  Törlés
                </button>
                <mat-checkbox *ngFor="let status of worker.table" [(ngModel)]="status.avaiable" class="mr-3">{{
                  status.id
                }}</mat-checkbox>
              </mat-expansion-panel>
              <!-- <h6 class="my-4">{{ worker.name }}</h6> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row col-12 border rounded">
        <div class="border rounded m-2 p-2">
          Időpont
          <div *ngFor="let item of event.generator.works[0].table" class="border rounded p-1 m-1 text-center">
            {{ item.id | convertToHour }}
          </div>
        </div>
        <div *ngFor="let work of event.generator.works" class="border rounded m-2 p-2">
          {{ work.name }}
          <div
            *ngFor="let item of work.table"
            class="border rounded p-1 m-1 text-center"
            [ngClass]="{ element: active === item.worker }"
            (mouseenter)="mapItems(item.worker)"
            (mouseleave)="disableItems()"
          >
            {{ item.worker }}
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
