<div class="border rounded p-2">
  <button class="btn btn-outline-secondary m-1 float-right" (click)="capture(export, 'TeljesCsömör(Posztok)')">
    Export
  </button>
  <div class="border rounded" #export>
    <h2 class="text-center">Teljes Csömör</h2>
    <div class="row col-12">
      <div class="border rounded m-1 p-1 column">
        Időpont
        <div *ngFor="let item of Works[0].table" class="border rounded p-1 m-1 text-center">
          {{ item.id | convertToHour }}
        </div>
      </div>
      <div *ngFor="let work of Works" class="border rounded m-1 p-1 column">
        {{ work.name }}
        <div
          *ngFor="let item of work.table"
          class="border rounded p-1 m-1 text-center"
          [ngClass]="{ element: active === item.worker }"
          (mouseenter)="mapItems(item.worker)"
          (mouseleave)="disableItems()"
        >
          {{ item.worker | exists }}
        </div>
      </div>
    </div>
  </div>
</div>
