<div>
  <div class="form-group p-2">
    <select name="events" [(ngModel)]="selectedIndex" class="form-control">
      <option value="{{ i }}" *ngFor="let event of events; let i = index">{{ event.name }}</option>
    </select>
  </div>
  <button class="btn btn-success m-2">Új kiadás felvétele</button>
  <div *ngIf="selectedIndex != -1" class="border rounded m-1 p-1 text-center">
    <div class="row col-12">
      <div class="col-3">Név</div>
      <div class="col-2">Kitől</div>
      <div class="col-2">Kinek</div>
      <div class="col-2">Összeg</div>
      <div class="col-3">Törlés</div>
    </div>
    <hr />
    <div *ngFor="let payout of events[selectedIndex].payOuts" class="row col-12">
      <div class="col-3">{{ payout.name }}</div>
      <div class="col-2">{{ payout.from }}</div>
      <div class="col-2">{{ payout.to }}</div>
      <div class="col-2">{{ payout.cost }}</div>
      <div class="col-3"><button class="btn btn-danger">X</button></div>
    </div>
  </div>
</div>
