<div class="container border rounded">
  <img class="img" src="../../assets/images/profile.png" alt="Profile Image" />
  <div *ngIf="error === true" class="alert alert-danger"><strong>HIBA!</strong> A belépés sikertelen! Kérjük próbálkozzon újra!</div>
  <mat-form-field>
    <input matInput placeholder="Felhasználónév" [type]="'text'" [formControl]="username" required />
    <mat-error *ngIf="username.invalid">{{ getErrorMessage(username, 'username') }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Jelszó" [type]="'password'" [formControl]="password" required />
    <mat-error *ngIf="password.invalid">{{ getErrorMessage(password, 'pass') }}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" class="login-button" (click)="login(username, password)" >Bejelentkezés</button>
</div>
