<h1 mat-dialog-title>Új reklám felvétele</h1>
<div mat-dialog-content>
  <mat-form-field class="w-100">
    <textarea
      matInput
      [(ngModel)]="text"
      name="text"
      placeholder="Új reklám"
      [type]="'text'"
      [formControl]="textControl"
      required
    ></textarea>
    <mat-error *ngIf="textControl.invalid">Kötelező a mező kitöltése</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div class="col-6">
    <button class="btn btn-secondary col-12" (click)="onNoClick()">Mégsem</button>
  </div>
  <div class="col-6">
    <button class="btn btn-primary col-12" [mat-dialog-close]="text" cdkFocusInitial [disabled]="textControl.invalid">
      Mentés
    </button>
  </div>
</div>
