<mat-form-field class="w-100">
  <mat-label>Poszt</mat-label>
  <mat-select [(ngModel)]="selectedWorker" name="workselect" [formControl]="workerselect">
    <mat-option *ngFor="let worker of Workers; let i = index" [value]="i">
      {{ worker.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="workerselect.invalid">Kötelező a mező kitöltése</mat-error>
</mat-form-field>

<div class="border rounded p-2">
  <button class="btn btn-outline-secondary m-1 float-right" (click)="capture(export, Workers[selectedWorker].name)">
    Export
  </button>
  <div class="border rounded" #export>
    <h2 class="text-center">{{ Workers[selectedWorker].name }} Csömör</h2>
    <div class="row col-12">
      <div class="border rounded m-1 p-1 column">
        Időpont
        <div *ngFor="let item of Workers[selectedWorker].table" class="border rounded p-1 m-1 text-center">
          {{ item.id | convertToHour }}
        </div>
      </div>
      <div class="border rounded m-1 p-1 column">
        {{ Workers[selectedWorker].name }}
        <div
          *ngFor="let item of Workers[selectedWorker].table"
          class="border rounded p-1 m-1 text-center"
          [ngClass]="{ element: active === item.work }"
          (mouseenter)="mapItems(item.work)"
          (mouseleave)="disableItems()"
        >
          {{ item.work | exists }}
        </div>
      </div>
    </div>
  </div>
</div>
