<div class="navigator-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar">
    <button mat-icon-button (click)="snav.toggle()">KT</button>
    <h1 class="app-name" [routerLink]="['/home']">Csömör Maker -</h1>
    <h3 class="creater">Készítette: Karcag Tamás - 2019</h3>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="text-center m-1" *ngIf="email">{{ email }}</div>
        <div class="border rounded element" [routerLink]="['/generator']" routerLinkActive="active" *ngIf="isLoggedIn">
          Generátor
        </div>
        <div class="border rounded element" [routerLink]="['/porta']" routerLinkActive="active" *ngIf="isLoggedIn">
          Porta
        </div>
        <div class="border rounded element" [routerLink]="['/myprofile']" routerLinkActive="active" *ngIf="isLoggedIn">
          Profil
        </div>
        <div
          class="border rounded element"
          [routerLink]="['/admin']"
          routerLinkActive="active"
          *ngIf="isLoggedIn && isAdmin"
        >
          Admin
        </div>
        <div class="border rounded element" (click)="logout()" *ngIf="isLoggedIn">Kijelentkezés</div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
